.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #1d571f;
}

.nav-link{
    color: #1d571f;
}
.nav-link:hover{
    color: #eeeff1;
}

.btn-primary{
    background-color: #1d571f;
    border-color: #1d571f;
}

.btn-primary:hover{
    background-color: #eeeff1;
    border-color: #eeeff1;
}

.subtitle{
    padding: 10px;
    margin: 20px;
    margin-left: 328px;
    margin-right: 328px;
    background-color: #1d571f;
    color: white;
}

.destaques{
    border-top: 2px solid #1d571f;
    background-color: #eeeff1;
}
.destaques h2{
    margin: 10px;
    color: #1d571f;
}

.text-muted{
    --bs-text-opacity: 1;
    color: #f8f9fa!important;
}

.fw-light{
    color: #f8f9fa!important;
}

.image-section {
    background-image: url("https://www.portalp2.com/images/noticias/1962/b0ce33b4ffb86736c9f9dab93b117fe1.jpeg");
    background-size: cover; /* ajusta o tamanho da imagem para cobrir toda a seção */
    background-position: center center; /* centraliza a imagem na seção */
}