.text-muted{
    color: #eeeff1 ! important;
    background-color: #1d571f5a;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #1d571f;
}

.nav-link{
    color: #1d571f;
}
.nav-link:hover{
    color: #eeeff1;
}

.btn-primary{
    background-color: #1d571f;
    border-color: #1d571f;
}

.btn-primary:hover{
    background-color: #eeeff1;
    border-color: #eeeff1;
}

.welcome-page{
    background-image: url(https://www.ifpi.edu.br/noticias/simposio-de-informatica-movimenta-alunos-e-servidores-do-campus-corrente/sinfcor-7/@@images/86802fb6-d0bf-4119-bc73-afe98e9ae0b7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #eeeff1;
}
.welcome-page h1{
    background-color: #1d571f5a;
    color: #eeeff1;
}

.subtitle{
    padding: 10px;
    margin: 20px;
    margin-left: 328px;
    margin-right: 328px;
    background-color: #1d571f;
    color: white;
}

.destaques{
    border-top: 2px solid #1d571f;
    background-color: #eeeff1;
}
.destaques h2{
    margin: 10px;
    color: #1d571f;
}