.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: green;
}

.nav-link{
    color: green;
}
.nav-link:hover{
    color: gray;
}

.btn-primary{
    background-color: green;
    border-color: green;
}

.btn-primary:hover{
    background-color: gray;
    border-color: gray;
}

.subtitle{
    padding: 10px;
    margin: 20px;
    margin-left: 328px;
    margin-right: 328px;
    background-color: green;
    color: white;
}